* {
  margin: 0;
  padding: 0;
}
.bg {
  background-image: url("assets/03_main_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* TITLE AND PHONE */

.main .title {
  margin-top: 16%;
}
.main .title .txt1 {
  font-size: 32px;
  color: #535152;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}

.main .logo {
  margin-top: 25px;
  margin-bottom: 15px;
  max-width: 30%;
  height: auto;
}

.main .title .txt2 {
  font-size: 50px;
  letter-spacing: 2px;
  color: #333132;
  font-weight: 900;
  font-family: "Montserrat";
  text-align: center;
}
.main .title .txt3 {
  font-size: 35px;
  color: #535152;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 30px;
}

.text1 {
  margin-top: 19px;
  font-size: 23px;
  color: #535152;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 41px;
}

.text2 {
  margin-top: 19px;
  font-size: 23px;
  color: #535152;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 41px;
}

.main .iphone {
  margin-top: 16%;
  margin-bottom: 50px;
}

.main_description {
  margin-top: 140px;
  font-size: 23px;
  color: #535152;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 41px;
}
.main_txt2 {
  margin-top: 55px;
  margin-bottom: 50px;
  font-size: 23px;
  color: #535152;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}
.main_txt {
  margin-top: 70px;
  font-size: 30px;
  line-height: 60px;
  color: #535152;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 70px;
}

.main_txt span {
  font-weight: 600;
}

/* FOR MOBILE VIEW IN TITLE AND IMAGE */
@media (max-width: 500px) {
  .main .title .txt1 {
    font-size: 17px;
  }

  .main .title .txt2 {
    font-size: 35px;
    letter-spacing: 5px;
  }

  .main .title .txt3 {
    font-size: 26px;
  }

  .main .iphone img {
    max-width: 100%;
    height: auto;
  }
  .main_description {
    font-size: 16px;
  }
  .main_txt2 {
    font-size: 15px;
  }
  .main_txt {
    font-size: 25px;
  }
}

/* PHOTO */
.photo {
  margin-bottom: 45px;
}

.photo .photo_grid {
  max-width: 70%;
}

.photo_title {
  margin-top: 15px;
  font-size: 30px;
  color: #535152;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}

.photo_txt {
  margin-top: 19px;
  font-size: 23px;
  color: #535152;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 41px;
}

.photo .photo_img {
  padding: 5px;
}

.photo figure {
  margin: 0px;
}
.photo_txt2 {
  font-size: 23px;
  color: #535152;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}

/* FOR MOBILE VIEW OF PHOTO GRID */
@media (max-width: 500px) {
  .photo_title {
    font-size: 17px;
  }

  .photo_txt {
    font-size: 15px;
  }
  .photo_txt2 {
    font-size: 15px;
  }
  .photo .photo_grid {
    max-width: 100%;
  }
}

/* POWER */
.power .txt4 {
  margin-top: 75px;
  font-size: 40px;
  line-height: 100px;
  color: #535152;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}

.power .mobile_friendly {
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.power .power_static {
  max-width: 100%;
}
/* FOR MOBILE VIEW OF POWER */
@media (max-width: 500px) {
  .power .txt4 {
    font-size: 22px;
    line-height: 0px;
  }

  .power .power_static {
    max-width: 100%;
  }
}

/* DOWNLOAD */

.download .download_txt {
  margin-top: 10px;
  font-size: 36px;
  line-height: 60px;
  color: #333132;
  font-weight: 900;
  font-family: "Montserrat";
  text-align: center;
}

.download {
  margin-top: 0px;
}

.download .logo_img {
  max-width: 200px;
  height: auto;
}

.download .txt5 {
  margin-top: 45px;
  font-size: 36px;
  line-height: 60px;
  color: #535152;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}

.download .txt6 {
  margin-top: 45px;
  font-size: 23px;
  color: #535152;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}

.download .button .bt1 {
  width: 20%;
  height: auto;
  margin: 30px;
}

/* FOR MOBILE VIEW IN DOWNLOAD */
@media (max-width: 500px) {
  .download .mobile_friendly {
    padding-left: 0px;
    padding-right: 0px;
  }
  .download .txt5 {
    margin-top: 25px;
    line-height: 40px;
    font-size: 25px;
  }
  .download .txt6 {
    font-size: 18px;
  }

  .download .download_txt {
    font-size: 25px;
  }

  .download .button .bt1 {
    width: 40%;
    margin: 3%;
  }
  .download .logo_img {
    width: 40%;
    height: auto;
  }
}

/* Notify */
.notify {
  margin-top: 10%;
  margin-bottom: 0%;
}

.notify .notify_txt {
  font-size: 35px;
  color: #535152;
  font-weight: 300;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.notify .notify_txt2 {
  margin-top: 45px;
  font-size: 23px;
  color: #535152;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 30px;
  margin-top: 0px;
}

.notify .mail_icon {
  max-width: 11%;
  height: auto;
}

.notify .notify_txt {
  font-size: 35px;
  color: #535152;
  font-weight: 300;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.notify .email_txt {
  font-size: 24px;
  color: #535152;
  font-weight: 200;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 20px;
}

.notify .email_txt2 {
  margin-top: 20px;
  font-size: 24px;
  color: #535152;
  font-weight: 200;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 20px;
}

.single_form {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  font-family: "Montserrat";
  font-weight: 300;
}

.single_form .form-control {
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  border-color: black;
  border-radius: 20px 0 0 20px;
}
.single_form .form-control:focus {
  box-shadow: 1px;
  border-color: #243c4f;
}

.single_form .btn {
  min-height: 50px;
  border-radius: 0 20px 20px 0;
  background: #000000;
  color: #fff;
}

/* FOR MOBILE VIEW IN NOTIFY */
@media (max-width: 500px) {
  .notify .notify_txt2 {
    font-size: 16px;
  }

  .notify .email_txt {
    font-size: 14px;
    line-height: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .notify .email_txt2 {
    font-size: 14px;
  }
  .notify .notify_txt {
    font-size: 38px;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .notify .form_input {
    padding: 5px;
    width: 40%;
  }
  .notify .mail_icon {
    max-width: 20%;
    height: auto;
  }
}

/* Banner */
.banner {
  margin-bottom: 100px;
  margin-top: 50px;
}

.banner img {
  align-self: flex-start;
}

.banner .banner_img {
  max-width: 100%;
  height: auto;
  margin: 3% 0px 3% 0px;
}

@media (max-width: 500px) {
  .banner {
    margin-top: 50px;
  }
}

.trademark {
  margin-top: 20px;
  font-size: 10px;
  color: #535152;
  font-weight: 200;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 20px;
}

/* success.html stylesheet */
.success {
  padding: 50px;
  font-size: 27px;
  text-align: center;
  color: #535152;
  font-weight: 400;
  font-family: "Montserrat";
  margin-top: 10%;
}
.success .txt2 {
  font-size: 50px;
  letter-spacing: 2px;
  color: #333132;
  font-weight: 900;
  font-family: "Montserrat";
  text-align: center;
}

.success .logo {
  margin-top: 25px;
  margin-bottom: 15px;
  max-width: 15%;
  height: auto;
}

@media (max-width: 500px) {
  .success {
    font-size: 19px;
  }
}
/* spinner loader */
#cover-spin {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  display: none;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cover-spin::after {
  content: "";
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: black;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}

/* privacy.html stylesheet */
.privacy {
  padding: 50px;
  font-size: 15px;
  text-align: center;
  color: #535152;
  font-weight: 400;
  font-family: "Montserrat";
}
.privacy .txt2{
  font-size: 34px;
  letter-spacing: 2px;
  color: #333132;
  font-weight: 900;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 10%; 
}

.privacy .logo{
  margin-top: 25px;
  margin-bottom: 15px;
  max-width:15%;
  height: auto;
  align-self: auto;
  text-decoration: none; 
}

@media (max-width: 500px){
  .privacy {
      font-size: 8px;
  }
  .privacy .txt2{
      font-size: 16px;
}
}
.video-container {
  position: relative;
  padding-bottom: 32.25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container iframe {
  position: absolute;
  top: 0;
  width: 60%;
  height: 540px;
  margin-left: auto;
  margin-right: auto;
}

.chakra {
  width: 60%;
}

.stanLee {
  font-size: 1.5rem; font-weight: 400; color: #535152; font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width: 768px) {
  .video-container {
    padding-bottom: 56.25%;
  }
  .video-container iframe {
    width: 100%;
    height: 100%;
  }
  .chakra {
    width: 100%;
  }
  .stanLee {
    font-size: 1rem;
  }
}
